<%= render "layouts/app-title" %>
<%= render "layouts/separator-header", :separator_title => "sign up" %>

<div class="table-box small padded">
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %>
  <div><%= link_to_submit 'submit ', :class => "fs-link link_to_submit" %></div>
  </div>
<% end %>

<div class="dialog_links"><%= render "devise/shared/links" %></div>
</div>
