<%= render 'layouts/app-title' %>
<%= render "layouts/separator-header", :separator_title => "team members" %>

<div class="table-box medium padded">
  <table class="table" id="goalList">
  <tr>
    <th>name</th>
    <th>email</th>
    <th>active?</th>
  </tr>

<% @people.each do |person| %>
  <tr>
    <td><%= link_to person.full_name, person %></td>
    <td><%= person.email %></td>
    <td><%= person.is_active %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'add team member', new_person_path, :class => "fs-link" %>
</div>