<%= render 'layouts/app-title' %>
<p id="notice"><%= notice %></p>

<p>
  <b>ID:</b>
  <%= @person.id %>
</p>

<p>
  <b>Startup ID:</b>
  <%= @person.startup_id %>
</p>

<p>
  <b>First name:</b>
  <%= @person.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @person.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @person.email %>
</p>

<p>
  <b>Is active:</b>
  <%= @person.is_active %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
