<%= render 'layouts/app-title' %>
<%= render 'layouts/separator-header', :separator_title => "tasks" %>
<div class="table-box padded">
  <table class="table" id="goalList">
  <thead>
    <th>task</th>
    <th>description</th>
    <th>due</th>
    <th class="center">complete?</th>
  </head>
  <tbody>
<% @tasks.each do |task| %>
  <tr>
    <td><%= link_to task.title, task %></td>
    <td><%= task.description %></td>
    <td><%= task.due_on.strftime("%m/%d/%Y") %></td>
    <td class="center"><%= if task.is_complete then ( %>yes<%= ) else ( %>no<%= ) end %></td>
  </tr>
<% end %>
  </tbody>
</table>

<br />

<%= link_to 'new task', new_task_path, :class => 'fs-link' %>

