<%= render 'layouts/app-title' %>
<%= render "layouts/separator-header", :separator_title => @task.title %>

<div class="table-box small padded">
<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @task.title %>
</p>

<p>
  <b>Description:</b>
  <%= @task.description %>
</p>

<p>
  <b>Due on:</b>
  <%= @task.due_on %>
</p>

<p>
  <b>Is complete:</b>
  <%= @task.is_complete %>
</p>

  <div class="dialog_links">
    <%= link_to 'cancel', tasks_path, :class => "fs-link left" %>
    <%= link_to 'edit', edit_task_path(@task) %> |
  </div>

    <%= link_to 'delete', @task, method: :delete, data: { confirm: 'Are you sure?' }, :class => "fs-link left" %>
</div>