<<<<<<< HEAD
      <fieldset class="select-template">
        <div class="select-template">
          <label class="inline-label" for="select-template">select a goal template:</label>
            <select class="custom-template" style="width: 400px" id="goal-templates">
             <option value = "0"></option>
           </select>
           </input>
        </div>
      </fieldset>
      <div class="highlight">or...</div>
        <label style="margin-top: 10px;">define your own:</label>
      </div>

      <div class="custom-template">
        <%= form_for @goal do |f| %>
          <% if @goal.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@goal.errors.count, "error") %> prohibited this goal from being saved:</h2>
              <ul>
              <% @goal.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="field">
            <%= f.label :title %>
            <%= f.text_field :title %>
          </div>
          <div class="field">
            <%= f.label :description %>
            <%= f.text_area :description %>
          </div>
          <div class="field">
            <%= f.label :due_on %>
            <%= f.text_field :due_on, :id => :datepicker %>
          </div>

          <%= f.fields_for :milestones do |builder| %>
            <fieldset>
                <%=  builder.label "Milestone: " %>
                <%=  builder.text_field :title %>
                <%=  builder.checkbox :_destroy %>
                <%=  builder.label "remove milestone" %>
            </fieldset>
          <% end %>

          <div class="actions">
            <%= link_to_submit 'save', goals_path, :id => "link_to_submit", :class => "fs-link link_to_submit", :goal => @goal %>
          </div><br />
      <% end %>
  </div>
=======
<%= render "layouts/separator-header", :separator_title => "add/edit goal" %>

<div class="table-box small padded">

<%= form_for(@goal) do |f| %>
  <% if @goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@goal.errors.count, "error") %> prohibited this goal from being saved:</h2>
      <ul>
      <% @goal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %>
    <%= f.text_field :id %>
  </div>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :is_complete %>
    <%= f.check_box :is_complete %>
  </div>
  <%= if current_user.try(:is_admin?) then ( %>
  <div class="field">
    <%= f.label :is_template %>
    <%= f.check_box :is_template %>
  </div>
  <div class="field">
    <%= f.label :due_on %><br />
    <%= f.text_field :due_on, :id => :datepicker %>
  </div>
  <%= ) end %>
  <div class="actions">
    <%= link_to_submit 'save', :id => "link_to_submit", :class => "fs-link" %>
</div>
<% end %>
  <div class="dialog_links">
    <%= link_to 'cancel', @goal, :id => "cancel", :class => "fs-link" %>
    <%= link_to 'delete', @goal, method: :delete, data: { confirm: 'Are you sure?' }, :class => "fs-link left" %>
  </div>

>>>>>>> 4d343ef190b0e343788ea648251b880fda251467

