<%= t.text_field :title %>
  <tr>
  <td><%= t.label "task" %> <%= t.text_field :title %></td>
  <td><%= t.text_field :person_id %></td>
  <td><%= t.text_field :due_on %></td>
  <td class="center">
    <input data-remote="true" id="<%= task.id %>" class="complete_task" class="complete_task" type="checkbox" checked value="1">
  </td>
</tr>
