<% @milestones.each do |milestone| %>
  <%= f.fields_for :milestone do |m| %>
    <table class="<%= milestone.id %>  milestonetasks">
    <thead>
      <tr>
        <th colspan="4"><%= milestone.title %></th>
      </tr>
      <tr>
        <th>task</th>
        <th>owner</th>
        <th>due date</th>
        <th>complete?</th>
      </tr>
    </thead>
    <tbody>

      <% milestone.tasks.each do |task| %>
        <tr>
        <%= m.fields_for :tasks do |t| %>
          <fieldset>
            <td><%= task.title %></td>
            <td><%= task.person_id %></td>
            <td><%= task.due_on %></td>
            <td class="center"><%= check_box_tag "task.is_complete[#{task.is_complete}]", task.id, false, :class => "task_complete" %>
            </td>
          </fieldset>
        <% end %>
      </tr>
      <% end %>



     </tbody>
    </table>
  <% end %>
<% end %>
