<%= render 'layouts/app-title' %>
<table>
  <thead>
    <th>ID</th>
    <th>Title</th>
    <th>Description</th>
    <th>Due on</th>
    <th>Is complete</th>
    <th></th>
    <th></th>
    <th></th>
  </head>
  <tbody>
<% @goals.each do |goal| %>
  <tr>
    <td><%= goal.id %></td>
    <td><%= goal.title %></td>
    <td><%= goal.description %></td>
    <td><%= goal.due_on %></td>
    <td><%= goal.is_complete %></td>
    <td><%= link_to 'Show', goal %></td>
    <td><%= link_to 'Edit', edit_goal_path(goal) %></td>
    <td><%= link_to 'Destroy', goal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Goal', new_goal_path %>
