<%= render 'layouts/app-title' %>
<div class="table-box padded">
  <table class="table" id="goalList">
  <thead>
    <th>goal</th>
    <th>description</th>
    <th>due</th>
    <th class="center">complete?</th>
    <th>edit</th>
  </head>
  <tbody>
<% @goals.each do |goal| %>
  <tr>
    <td><%= link_to goal.title, goal %></td>
    <td><%= goal.description %></td>
    <td><%= goal.due_on.strftime("%m/%d/%Y") %></td>
    <td class="center"><%= if goal.is_complete then ( %>yes<%= ) else ( %>no<%= ) end %></td>
    <td><%= link_to "edit", edit_goal_path(goal) %></td>
  </tr>
<% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Goal', new_goal_path, :class => 'fs-link left small' %>

