<div class="navbar navbar-center">
  <div class="navbar-inner">
    <ul class="nav nav-pointer">
      <li>
          <%= link_to 'start a new goal', new_goal_path %>
      </li>
      <li>
          <%= link_to 'review existing goals', goals_path %>
      </li>
      <li>
        <%= link_to 'review team activity', people_path %>
      </li>
    <%= if current_user.try(:is_admin?) then ( %>
    <%= ) else ( %>
      <li>
        <%= link_to 'add/edit users', admin_users_path %>
      </li>
    <%= ) end %>
    </ul>
  </div>
</div>
