<div role="banner" class="main-header">
  <div class="wrapper">
    <div class="row-fluid">
      <div class="span4">
<<<<<<< Updated upstream
      <%= link_to(image_tag("logo-temp.png", :alt => "foundersuite logo", :title => "Click here to return to Home"), "/") %>
=======
      <%= link_to(image_tag("logo-temp.png"), "/") %>
>>>>>>> Stashed changes
      </div>
      <div class="user-opt span5 offset3">
        <% if user_signed_in? %>
        <%= current_user.user_name %>
          <%= link_to('Logout', destroy_user_session_path, :method => :delete, :class => "btn-info btn") %>
        <% else %>
          <%= link_to('Login', new_user_session_path, :class => "btn-info btn" )  %>
        <% end %>
      </div>
    </div>
  </div>
</div>
